In [93]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import copy

nodes = pd.read_csv('nodes.txt', sep="\t", header=None)
edges = pd.read_csv('edges.txt', sep = "\t", header = None)

         0                               1    2                      3
0        1            100monkeystyping.com  0.0              Blogarama
1        2      12thharmonic.com/wordpress  0.0            BlogCatalog
2        3           40ozblog.blogspot.com  0.0  Blogarama,BlogCatalog
3        4                 4lina.tblog.com  0.0              Blogarama
4        5           750volts.blogspot.com  0.0              Blogarama
...    ...                             ...  ...                    ...
1485  1486  youngconservative.blogspot.com  1.0              Blogarama
1486  1487                zebrax.blogs.com  1.0            BlogCatalog
1487  1488             zeke01.blogspot.com  1.0  Blogarama,BlogCatalog
1488  1489              zeke01.typepad.com  1.0              Blogarama
1489  1490          zeph1z.tripod.com/blog  1.0              Blogarama

[1490 rows x 4 columns]

In [13]:
n = 1490

# build adjacency matrix
A = np.zeros((n,n))

for i in range(len(edges)):
    node1 = edges.iloc[i,0]
    node2 = edges.iloc[i,1]
    if A[node1-1,node2-1] == 0 or A[node2-1,node1-1] == 0:
        A[node1-1,node2-1] = 1
        A[node2-1,node1-1] = 1

In [21]:
#build degree matrix D
D = np.zeros((n,n))

for i in range(n):
    D[i,i]= sum(A[:,i])

In [24]:
#build graph Laplacian, get eigenvectors and eigenvalues
L = D-A
#vals is eigenvalues in ascending matrix. vals[i]

#vecs is normalized eigenvector corresponding to eigenvalues. Vecs[:,i] is corresponding eigenvector of val[i]
vals, vecs = np.linalg.eigh(L)

In [108]:
k = 2
Z=vecs[:,:k]
np.random.seed(0)

In [122]:
"""k-Mean algorithm"""

#randomly initializing centers
centers = Z[np.random.choice(Z.shape[0],k,replace =False)]

from copy import deepcopy
centers_old = np.zeros(centers.shape) # to store old centers
centers_new = deepcopy(centers) # Store new centers

labels = np.zeros(n)
distances = np.zeros((n,k))

error = np.linalg.norm(centers_new - centers_old)

#Looping until convergence (error =0)
while error != 0:
    # Calculating Euclidian distance from each datapoint to centers
    for i in range(k):
        distances[:,i] = np.linalg.norm(Z - centers[i], axis=1)
    # Assign all training data to closest center
    labels = np.argmin(distances, axis = 1)
    
    centers_old = deepcopy(centers_new)
    # Calculate mean for every cluster and update the center
    for i in range(k):
        centers_new[i] = np.mean(Z[labels == i], axis=0)
    error = np.linalg.norm(centers_new - centers_old)

In [123]:
labels

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [124]:
mislabel = 0
for i in range(n):
    if labels[i]!=nodes.iloc[i,2]:
        mislabel+=1
    accuracy = mislabel/n
print('The accuracy of spectral clustering for this dataset is:', accuracy)

The accuracy of spectral clustering for this dataset is: 0.5966442953020135